@import './partials/normalize';
@import './partials/searchFeature';
@import './partials/reg';
@import './partials/log';
@import './partials/header';
@import './partials/main';
@import './partials/table';