extends layout
block content
  .businesses
    button.open-btn Open Live Coming Data
    div(id="businesses-wrapper")
    script(src="/socket.io/socket.io.js")

  //- each business in businesses
  //-   .business
      //- p= business.name
      //- p= business.regNumber
      //- p= business.state
      //- p= business.dateOfReg
      //- p= business.natureOfBusiness
      