extends layout 
block content
  .inner
    .signup-form.login__form
      h2 Change Password
      form(action="/change-password" method="POST")
        .form-group
          input(type="text" name="userName" placeholder="User Name" required)
        .form-group
          input(type="password" name="newPassword" placeholder="New Password" required)
        .form-group
          input(type="password" name="confirmNewPassword" placeholder="Confirm New Password" required)
        .form-group
          button.button(type="submit" class="btn btn-success btn-lg btn-block" id='connectSocket') Change Password
    