doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/sass/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    
  body
    block header
      header.site-header
        .site-identity
          a(href="#")
            img(src="/Users/cocosensei/Desktop/hype/logos.png" alt="Site Name")
        nav.site-navigation
          ul.nav 
            li
              a(href="cac.gov.ng") HOME 
            li
              a(href="/Users/cocosensei/Desktop/hype/login.html") LOGOUT

    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    .content
      block content

    block scripts
      script(src="/dist/App.bundle.js")
