doctype html
html
  head
    //- title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/sass/style.css' type= 'text/css')
    link(rel="shortcut icon" type="image/png" href="/views/logos.png")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
    meta(charset="utf-8")
    script(defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous")
    
  body
    block header
      .nav
       .site-identity
          a(href="/")
            img(src="/images/logos.png" alt="Site logo")
          .nav__buttons
           a.link__button(href="/admin/register-user") NEW USER
           a.link__button(href='/admin/registered-users') REGISTERED USERS
           a.link__button(href='/admin/businesses') HISTORY
           a.link__button(href='/logout') LOGOUT
    .businesses
 
    //- .coatOfArm
    //-   !=h.icon('coatOfArm')
    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    .content
      block content

    .footer
      block footer

        div(id="chat-wrapper" class="chat-wrapper shadow border-top border-left border-right")
        script(src="/socket.io/socket.io.js")

    block scripts
      
      script(src="/dist/App.bundle.js")