extends layout
block content

  .businesses
    .nav__buttons
      a.link__button(href="/admin/register-user") REGISTER USER
      a.link__button(href='/admin/businesses') SAVED HISTORY
    #live
      table.table
        thead
          tr
            th REGISTRATION NO
            th BUSINESS NAME
            th NATURE OF BUSINESS
            th STATE
            th DATE REGISTERED
        tbody(id="table")
      
      script(src="/socket.io/socket.io.js")