extends layout

block header
  nav.nav
    .site-identity
      a(href='/admin')
        img(src="/images/logos.png" alt="Site logo")
    .nav__buttons(style='width: 40vw')
      
      a.button(href='#')
        !=h.icon('user-solid') 
        span admin
    
      a.button(href='/admin/register-user')
        !=h.icon('user-plus-solid')
        span Register User
      a.button(href='/admin/registered-users')
        !=h.icon('users-solid')
        span Users
      a.button(href='/admin/businesses')
        !=h.icon('history-solid')
        span History

block content


 #live
    table.table.admin__table
      thead
        tr
          //- th 
          th REGISTRATION NO
          th BUSINESS NAME
          th STATE
          th DATE REGISTERED
          th STATUS
          th ACTION
      tbody(id="table")
    script(src="/socket.io/socket.io.js")

    //- script(src="/socket.io/socket.io.js")