extends layout2
block content

 h21 Newly Registered
    #live
      table.table
        thead
          tr
            th 
            th REGISTRATION NO
            th BUSINESS NAME
            th NATURE OF BUSINESS
            th STATE
            th DATE REGISTERED
        tbody(id="table")
      
      script(src="/socket.io/socket.io.js")