extends layout

//- include mixins/_loginForm
//- include mixins/_forgotForm
block content

  .inner
    .signup-form
      form(action="/admin" method="POST")
        h2 Login
        .form-group
          input(type="text" class="form-control" name="userName" placeholder="User Name" required="required")
        .form-group
          input(type="password" class="form-control" name="password" placeholder="password" required="required")
                
        .form-group
          button(type="submit" class="btn btn-success btn-lg btn-block" id='connectSocket') Submit
    a(href='/admin') User Login