extends layout

//- include mixins/_loginForm
//- include mixins/_forgotForm
block content

  .inner
    .signup-form.login__form(style='height:60vh;')
      form(action="/login" method="POST")
        h2 Login
        .form-group
          input(type="text" class="form-control" name="userName" placeholder="User Name" required="required")
        .form-group
          input(type="password" class="form-control" name="password" placeholder="password" required="required")
                
        .form-group
          button.button(type="submit" class="btn btn-success btn-lg btn-block" id='connectSocket') Login

        .form-group
          a.link__button(href='/admin' style='color:white') Admin?