extends layout

block header
  nav.nav
    .site-identity
      a(href="/admin")
        img(src="/images/logos.png" alt="Site logo")
    a.nav__button.button(href='/admin')
      !=h.icon('arrow-left-solid')
      span BACK
    .nav__buttons
      
      a.button(href='#')
        !=h.icon('user-solid') 
        span admin
      a.button(href='/admin/register-user')
        !=h.icon('user-plus-solid')
        span Register User
      a.button(href='/admin/registered-users')
        !=h.icon('users-solid')
        span Users
      a.button(href='/admin/businesses')
        !=h.icon('history-solid')
        span History

block content
  .inner
    .signup-form

      h2 Register
      form.register__user(action="/admin/register-user" method="post")
        .left
          .form-group
            input(type="text" class="form-control" name="name" placeholder="Full Name" required="required")

          .form-group
            input(type="text" class="form-control" name="userName" placeholder="User Name" required="required")

          .form-group
            label(for='userType') Account Type
            select(id="select" name="userType")
              //- option(value="headAdmin") ADMIN, HEAD OFFICE
              //- option(value="headSupervisor") SUPERVISOR, HEAD OFFICE
              //- option(value="zonalSupervisor") SUPERVISOR, ZONAL OFFICE
              option(value="headUser") USER, HEAD OFFICE
              option(value="zonalAdmin") ADMIN, ZONAL OFFICE
              option(value="zonalUser") USER, ZONAL OFFICE
            //- input(type="text" class="form-control" name="userType" value="administrator" required="required" readonly)
        .right
          .form-group
            input(type="password" class="form-control" name="password" placeholder="Password" required="required")

          .form-group
            input(type="password" class="form-control" name="confirm-password" placeholder="Confirm Password" required="required")
            
          label(for="select") State:
          select(id="select" name="state")
            optgroup(label="SELECT--")
            option(value="LAGOS") LAGOS
            option(value="FCT") FCT
            option(value="RIVERS") RIVERS
            option(value="ABIA") ABIA
            option(value="ADAMAWA") ADAMAWA
            option(value="ANAMBRA") ANAMBRA
            option(value="AKWA-IBOM") AKWA-IBOM
            option(value="BAUCHI") BAUCHI
            option(value="BAYELSA") BAYELSA
            option(value="BENUE") BENUE
            option(value="BORNU") BORNU
            option(value="CROSS-RIVER") CROSS-RIVER
            option(value="DELTA") DELTA
            option(value="EBONYI") EBONYI
            option(value="EDO") EDO
            option(value="EKITI") EKITI
            option(value="ENUGU") ENUGU
            option(value="GOMBE") GOMBE
            option(value="IMO") IMO
            option(value="JIGAWA") JIGAWA
            option(value="KADUNA") KADUNA
            option(value="KANO") KANO
            option(value="KATSINA") KATSINA
            option(value="KEBBI") KEBBI
            option(value="KOGI") KOGI
            option(value="KWARA") KWARA
            option(value="NASARAWA") NASARAWA
            option(value="NIGER") NIGER
            option(value="ONDO") ONDO
            option(value="OGUN") OGUN
            option(value="OYO") OYO
            option(value="OSUN") OSUN
            option(value="PLATEAU") PLATEAU
            option(value="SOKOTO") SOKOTO
            option(value="TARABA") TARABA
            option(value="YOBE") YOBE
            option(value="ZAMFARA") ZAMFARA

          .form-group
            button.button(type="submit" class="btn btn-success btn-lg btn-block") Register