extends layout

block header
  nav.nav
    .site-identity
      a(href="/")
        img(src="/images/logos.png" alt="Site logo")
    a.nav__button.button(href='/')
      !=h.icon('arrow-left-solid')
      span BACK
    .nav__buttons
      
      a.button(href='#')
        !=h.icon('user-solid') 
        span= user.userName
      a.button(href=`/${user.state}/history`)
        !=h.icon('history-solid')
        span History
      a.button(href='/logout')
        !=h.icon('sign-out')
        span Logout

block content
  .inner
    .signup-form

      h2 Register
      form.register__user(action="/admin/register-user" method="post")
        .left__register
          .form-group
            input(type="text" class="form-control" name="name" placeholder="Full Name" required="required")

          .form-group
            input(type="text" class="form-control" name="userName" placeholder="User Name" required="required")

          .form-group
            label(for='userType') Account Type
            select(id="select" name="userType")
              //- option(value="zonalSupervisor") SUPERVISOR
              option(value="zonalUser") USER
            //- input(type="text" class="form-control" name="userType" value="administrator" required="required" readonly)
        .right__register
          .form-group
            input(type="password" class="form-control" name="password" placeholder="Password" required="required")

          .form-group
            input(type="password" class="form-control" name="confirm-password" placeholder="Confirm Password" required="required")
            
          label(for="select") State:
          input(type='text' name='state' value=`${user.state}` readonly)
          //- select(id="select" name="state")
          //-   optgroup(label="SELECT--")
          //-   option(value="FCT") HEAD OFFICE

          .form-group
            button.button(type="submit" class="btn btn-success btn-lg btn-block") Register