extends layout

block header
  nav.nav
    .site-identity
      a(href="/admin")
        img(src="/images/logos.png" alt="Site logo")
    a.nav__button.button(href='/admin/registered-users')
      !=h.icon('arrow-left-solid')
      span BACK
    .nav__buttons
      
      a.button(href='#')
        !=h.icon('user-solid') 
        span admin
      a.button(href='/admin/register-user')
        !=h.icon('user-plus-solid')
        span Register User
      a.button(href='/admin/businesses')
        !=h.icon('history-solid')
        span History

block content
  .inner
    .signup-form.login__form
      h2 Change Password
      form(action=`/admin/reset-user/${resetUser._id}` method="POST")
        .form-group
          -const value = resetUser ? resetUser.userName : ''
          input(type="text" name="userName" value=value placeholder="User Name" required readonly)
        .form-group
          input(type="password" name="newPassword" placeholder="New Password" required)
        .form-group
          input(type="password" name="confirmNewPassword" placeholder="Confirm New Password" required)
        .form-group
          button.button(type="submit" class="btn btn-success btn-lg btn-block" id='connectSocket') Reset Password
    