extends layout


block header
  nav.nav
    .site-identity
      a(href="/")
        img(src="/images/logos.png" alt="Site logo")
    
    a.nav__button.button(href=`/${user.state}/history`)
      !=h.icon('arrow-left-solid')
      span BACK

    .nav__buttons
      if user
        a.button(href='#')
          !=h.icon('user-solid') 
          span=user.userName
        a.button(href=`/${user.state}/history`)
          !=h.icon('history-solid')
          span History
        
        a.button(href='/logout')
          !=h.icon('sign-out')
          span Logout

include mixins/_business

block content
  .inner
  +business(business)