extends layout

block header
  nav.nav
    .site-identity
      a(href='/')
        img(src="/images/logos.png" alt="Site logo")
    .nav__buttons
      
      a.button(href='#')
        !=h.icon('user-solid') 
        span= user.userName
    
      a.button(href='/businesses')
        !=h.icon('check-solid')
        span Treated

      a.button(href='/businesses')
        !=h.icon('history-solid')
        span Untreated

      a.button(href='/logout')
        !=h.icon('sign-out')
        span Logout

block content


 #live
    table.table
      thead
        tr
          //- th 
          th REGISTRATION NO
          th BUSINESS NAME
          
          th STATE
          th DATE REGISTERED
          th STATUS
          th ACTION
      tbody(id="table")
    script(src="/socket.io/socket.io.js")

    //- script(src="/socket.io/socket.io.js")