body {
    // background-color: #b4d69e;
    // background-color: white;
    .background {
        // margin-top: 15vh;
        // background-color: red;
        // height: 85vh;
        // width: fit-content;
        position: fixed;
        top: 10vh;
        // width: 60vw;
        // height: 85vh;
        // margin: 0vh 20vw;
        // svg {
        //     width: 60vw;
        //     height: 85vh;
        // }
    }
}

@media only screen and (min-width: 2600px) {
    body {
        .background {
            svg {
                margin-top: 15vh;
            }
        }
    }
}