.entry-form {
    background-color: rgba(180, 214, 158, 0.4);
    // background-color: rgba(215, 218, 213, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    backdrop-filter: blur(2px);
    width: 80vw;
    margin-left: 10vw;
    align-items: center;
    color: #1c330d;
    z-index: 1;
    h2 {
        margin-left: 3vw;
    }
    form {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .button {
            padding: 4px;
            font-size: 16px;
            margin-top: 2px;
        }
        .left {
            display: flex;
            flex-direction: column;
            width: 40%;
        }
        .right {
            display: flex;
            flex-direction: column;
            width: 40%;
        }
    }
}