.entry-form {
    // background-color: rgba(180, 214, 158, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    width: 80vw;
    height: 90vh;
    margin-left: 10vw;
    align-items: center;
    color: #1c330d;
    z-index: 1;
    h2 {
        margin-left: 3vw;
    }
    form {
        // background-color: black;
        display: grid;
        grid-auto-rows: 1fr 1fr;
        gap: 10px;
        // justify-content: space-between;
        .button {
            padding: 10px;
            font-size: 16px;
            margin-top: 2px;
            border: none;
            border-radius: 6px;
        }
        .left {
            display: grid;
            grid-template-columns: auto;
            width: 40%;
        }
        .right {
            display: grid;
            grid-template-columns: auto;
            width: 40%;
        }
    }
}