nav {
    background-color: #1c330d;
}

.nav {
    background-color: #1c330d;
    position: fixed;
    height: fit-content;
}

.nav__buttons {
    margin-left: 65vw;
}

.link__button {
    // margin-right: 20px;
    font-size: 16px;
    background-color: #1c330d;
    height: 5vh;
    width: fit-content;
    color: white;
    text-decoration: none;
    padding: 5px 5px;
}

.site-identity {
    margin-left: 4.5vw;
}

// .site-navigation {
//     margin-left: 60vw;
//     display: flex;
//     flex-direction: row;
//     align-items: flex-end;
//     justify-content: space-around;
//     height: auto;
//     width: 20vw;
// }