.layer {
    width: 100%;
    height: 20vh;
    // display: flex;
    // align-items: center;
    background-color: #1c330d;
}

.site-navigation {
    margin-left: 60vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    height: auto;
    width: 20vw;
}