.overlay {
    position: absolute;
    top: 0;
    width: 0%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
}

.share__overlay {
    position: absolute;
    top: 0;
    width: 0%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
    .share__overlay-content {
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: #1c330d;
        width: 450px;
        height: 450px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        display: none;
        input {
            width: 50%;
            align-self: center;
            margin: 50px 0;
            padding: 5px;
            border: none;
            background-color: transparent;
            border-bottom: 5px ridge #1c330d;
            text-align: center;
            &:focus {
                border: none;
            }
        }
        a,
        button {
            margin: 0 30px;
            background-color: #1c330d;
            color: #fff;
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;
        }
    }
}

.overlay-content {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #1c330d;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: none;
    .share__cancel,
    .share__button--submit {
        color: #fff;
    }
    input {
        width: 100%;
    }
    a {
        margin: 0 30px;
        background-color: #1c330d;
        color: #fff;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
    }
    .confirm {
        background-color: brown;
    }
}