.signup-form {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 60vh;
    margin: 5vh 30vw;
    align-items: center;
    color: #1c330d;
    // background-color: rgba(180, 214, 158, 0.5);
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // backdrop-filter: blur(6px);
    border-radius: 20px;
    .button {
        margin: 0 0 4vh 0;
        padding: 10px;
        border: none;
        border-radius: 5px;
    }
    .register__user {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .button {
            padding: 4px;
            font-size: 16px;
            margin-top: 2px;
        }
        .left {
            display: flex;
            flex-direction: column;
            width: 40%;
        }
        .right {
            display: flex;
            flex-direction: column;
            width: 40%;
        }
    }
}

.form-group {
    button {
        margin-top: 7vh;
        background-color: #1c330d;
        color: white;
    }
}

input[type=text],
input[type=password],
input[type=date],
input[type=file],
select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    border-bottom: 5px ridge #1c330d;
    color: #1c330d;
    // background-color: #1c330d;
    // color: white;
}