.signup-form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: fit-content;
    margin: 5vh 35vw;
    // background-color: #aed495;
    align-items: center;
    color: #1c330d;
    background-color: rgba(180, 214, 158, 0.5);
    // background-color: rgba(215, 218, 213, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    backdrop-filter: blur(6px);
    .button {
        margin: 0 0 4vh 0;
        padding: 4px;
    }
}

.form-group {
    button {
        margin-top: 7vh;
        background-color: #1c330d;
        color: white;
    }
}

input[type=text],
input[type=password],
input[type=date],
input[type=file],
select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    border-bottom: 5px ridge #1c330d;
    color: #1c330d;
    // background-color: #1c330d;
    // color: white;
}