.search {
    width: 50vw;
    margin-left: 50vw;
    margin-bottom: -5px;
    input {
        width: fit-content;
        height: fit-content;
    }
}

form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #1c330d;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.search button {
    float: left;
    width: fit-content;
    padding: 10px;
    background: #1c330d;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.search button:hover {
    background: #1c330d;
}

form.search::after {
    content: "";
    clear: both;
    display: table;
}