.businesses {
    z-index: 1;
}

#live {
    z-index: 1;
    // width: 30vw;
}

.container {
    z-index: 1;
}

.tasks,
.user__taskQueue,
.user__history,
.users {
    z-index: 1;
}

.error {
    margin: 5vh;
    height: 10vh;
    display: none;
    border: 1px ridge red;
}

.pointer {
    visibility: visible;
    width: 12px;
    height: 12px;
    background-color: green;
    border-radius: 360px;
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: 5vw;
    margin-top: 0;
    width: 90vw;
    z-index: 5;
}

.table th,
.task__queue--table th {
    font-weight: 700;
    font-size: 14px;
}

.table td,
.table th,
.task__queue--table td,
.task__queue--table th {
    border: none;
    padding: 12px;
    text-align-last: center;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    // color: #1c330d;
    color: rgba(28, 51, 13, .8);
    &:hover {
        color: white;
    }
    a {
        text-decoration: none;
        color: #1c330d;
        border-radius: 5px;
        padding: 5px;
    }
}

.table tr:nth-child(even),
.task__queue--table tr:nth-child(even) {
    // background-color: #F2F0F0;
    background-color: transparent;
    text-align-last: center;
}

.table tr:nth-child(odd),
.task__queue--table tr:nth-child(odd) {
    // background-color: #D7DAD5;
    // background-color: #deffdb;
    background-color: transparent;
    text-align-last: center;
}

.table tr:hover,
.task__queue--table tr:hover {
    // background-color: #1c330d;
    // background-color: #8fbc8f;
    // background-color: #a8e2b8;
    // background-color: #D7DAD5;
    background-color: rgba(28, 51, 13, .6);
}

.table th,
.task__queue--table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    // background-color: #1c330d;
    // background-color: #5f8575;
    background-color: rgba(28, 51, 13, .8);
    color: white;
    text-align: center;
    // border-radius: 5px;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */

@media screen and (max-width: 400px) {}