.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 7vh;
}

.table td,
.table th {
    border: none;
    padding: 20px;
    text-align-last: center;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
}

.table tr:nth-child(even) {
    background-color: #F2F0F0;
    text-align-last: center;
}

.table tr:nth-child(odd) {
    background-color: #D7DAD5;
    text-align-last: center;
}

.table tr:hover {
    background-color: #ddd;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #1c330d;
    color: white;
    text-align: center;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */

@media screen and (max-width: 400px) {}